<div class="wrap">
    <h1 class="h1">
        <span>{{ section.settings.boxed_text }}</span>
        <span>{{ section.settings.big_text}}</span>
    </h1>
</div>
<p>{{ section.settings.subtext }}</p>

{% style %}    
    {% if section.settings.center_text %} 
        [id^="error-404"],
        [id*="error-404"] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 100%;
            padding-top: 66px;
        }

        [id^="error-404"] h1,
        [id*="error-404"] h1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            line-height: 1;
            text-align: center;
            position: relative;
        }

        [id^="error-404"] h1 span:first-child,
        [id*="error-404"] h1 span:first-child {
            background-color: var(--danger);
            color: var(--white);
            margin: auto;
            padding: 10px 20px;
            text-transform: uppercase;
            position: absolute;
            width: 180px;
        }

        [id^="error-404"] h1 span:last-child,
        [id*="error-404"] h1 span:last-child {
            font-size: 20rem;
            font-weight: bold;
        }
    {% endif %}

    @media only screen and (max-width: 375px) {
        [id^="error-404"] h1 span:first-child,
        [id*="error-404"] h1 span:first-child {
            font-size: 25px;
            width: 120px;
            position: static;
        }

        [id^="error-404"] h1 span:last-child, 
        [id*="error-404"] h1 span:last-child {
            font-size: 8rem;
        }
    }

    @media only screen and (max-width: 767px) {
        .display-3 {
            font-size: 2.5rem;
        }
    }
{% endstyle %}

{% schema %}
{
    "name": "Template 404",
    "settings": [
        {
            "type": "text",
            "id": "boxed_text",
            "default": "Error",
            "label": "Boxed text"
        },
        {
            "type": "text",
            "id": "big_text",
            "default": "404",
            "label": "Background text"
        },
        {
            "type": "textarea",
            "id": "subtext",
            "default": "The page you're looking for is not found",
            "label": "404 Subtext"
        },
        {
            "type": "checkbox",
            "id": "center_text",
            "label": "Center text",
            "default": true,
            "info": "Toggle to center the text on the screen"
        }
    ]
}
{% endschema %}