<h1>{{ section.settings.blog_title }}</h1>
<p>{{ section.settings.blog_subtext }}</p>

{% schema %}
{
    "name": "Blog",
    "tag": "section",
    "class": "blog-default",
    "settings": [
        {
            "type": "text",
            "id": "blog_title",
            "default": "Blog heading",
            "label": "Blog Heading"
        },
        {
            "type": "text",
            "id": "blog_subtext",
            "default": "Default blog's subtext... change me",
            "label": "Blog Subtext"
        }
    ],
    "templates": [
        "hero"
    ]
}
{% endschema %}