<section class="clients brand-one">
    <div class="container">
        <div class="block-title text-center">
            <h2 class="block-title__title">{{ section.settings.section_heading }}</h2><!-- /.block-title__title -->
            <span class="block-title__line"></span><!-- /.block-title__line -->
            <p class="block-title__text">{{ section.settings.section_description }}
            </p><!-- /.block-title__text -->
        </div><!-- /.block-title -->
        <div class="brand-one__carousel owl-carousel owl-theme">
            {% for block in section.blocks %}
                <div class="item">
                    <img src="{{ block.settings.client_logo | img_url: 'master' }}" alt="{{ block.settings.client_logo.alt }}">
                </div><!-- /.item -->
            {% endfor %}
        </div><!-- /.brand-one__carousel -->
    </div><!-- /.container -->
</section><!-- /.brand-one -->

{% schema %}
{
    "name": "Clients",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Clients who trusted us"
        },
        {
            "type": "textarea",
            "id": "section_description",
            "label": "Section description",
            "default": "Over half of the fortune 100. Arnuld's designs are used by busy people from amazing companies all over the world."
        }
    ],
    "max_blocks": 20,
    "blocks": [
        {
            "type": "clients",
            "name": "Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "client_logo",
                    "label": "Upload client's logo"
                }
            ]
        }
    ]
}
{% endschema %}