<section class="contact-one" id="contact">
    <div class="container">
        <div class="block-title text-center">
            <h2 class="block-title__title">{{ section.settings.section_heading }}</h2><!-- /.block-title__title -->
            <span class="block-title__line"></span><!-- /.block-title__line -->
            <p class="block-title__text">{{ section.settings.section_description }}</p><!-- /.block-title__text -->
        </div><!-- /.block-title -->

        {% form 'contact', class: 'contact-one__form contact-form-validated row' %}
            {{ form.errors | default_errors }}

            <div class="first-name col-lg-6">
                <label for="first-name">First name</label>
                <input type="text" name="contact[first_name]" id="first-name" placeholder="First name" />
            </div>

            <div class="last-name col-lg-6">
                <label for="last-name">Last name</label>
                <input type="text" name="contact[last_name]" id="last-name" placeholder="Last name" />
            </div>

            <div class="phone col-lg-6">
                <label for="phone">Phone</label>
                <input type="tel" name="contact[phone]" id="phone" placeholder="Phone number" />
            </div>

            <div class="email col-lg-6">
                <label for="email">Email</label>
                <input type="email" name="contact[email]" id="email" placeholder="Email address" />
            </div>

            <div class="message col-lg-6">
                <label for="message">Message</label>
                <textarea name="contact[body]" id="message" placeholder="Write message"></textarea>
            </div>

            <div class="submit text-center col-lg-12">
                <input type="submit" value="Submit Now" class="thm-btn contact-one__btn" />
            </div>
        {% endform %}

        <div class="result"></div><!-- /.result -->
    </div><!-- /.container -->
</section><!-- /.contact-one -->

{% schema %}
{
    "name": "Contact",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Have any questions?"
        },
        {
            "type": "textarea",
            "id": "section_description",
            "label": "Section description",
            "default": "Thank you for your interest in our website & our services. If you have any questions, please write us a message now!"
        }
    ]
}
{% endschema %}