<section class="contact-one" id="contact">
    <div class="container">
        <div class="block-title text-center">
            <h2 class="block-title__title">Have any question?</h2><!-- /.block-title__title -->
            <span class="block-title__line"></span><!-- /.block-title__line -->
            <p class="block-title__text">Thank you for your interest in our website & our services. If you have
                <br> any
                questions, please write us a message now!</p><!-- /.block-title__text -->
        </div><!-- /.block-title -->

        <form action="/" class="contact-one__form contact-form-validated row">
            <div class="col-lg-6">
                <input type="text" placeholder="First name" name="fname">
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <input type="text" placeholder="Last name" name="lname">
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <input type="text" placeholder="Email address" name="email">
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <input type="text" placeholder="Phone number" name="phone">
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-12">
                <textarea name="message" placeholder="Write message"></textarea>
                <div class="text-center">
                    <button type="submit" class="thm-btn contact-one__btn">Submit Now</button>
                </div><!-- /.text-center -->
            </div><!-- /.col-lg-12 -->
        </form><!-- /.contact-one__form -->
        <div class="result"></div><!-- /.result -->
    </div><!-- /.container -->
</section><!-- /.contact-one -->