<section class="cta-one">
    <div class="container">
        <h2 class="cta-one__title">Join creatic team now. Are you ready to <br>
            change the game?</h2><!-- /.cta-one__title -->
        <div class="cta-one__button-block">
            <a href="#" class="thm-btn">Join Now</a><!-- /.thm-btn -->
        </div><!-- /.cta-one__button-block -->
    </div><!-- /.container -->
</section><!-- /.cta-one -->