<section class="cta-one" style="background-image: url({{ section.settings.section_bg_img | img_url: 'large' }});">
    <div class="container">
        <h2 class="cta-one__title col-lg-6">{{ section.settings.section_heading }}</h2><!-- /.cta-one__title -->
        <div class="cta-one__button-block">
            <a href="{{ section.settings.btn_link }}" class="thm-btn text-center">{{ section.settings.btn_text }}</a><!-- /.thm-btn -->
        </div><!-- /.cta-one__button-block -->
    </div><!-- /.container -->
</section><!-- /.cta-one -->

{% style %}
    .cta-one .thm-btn {
        background-color: #fff !important;
        color: #ed2c41 !important;
    }
{% endstyle %}

{% schema %}
{
    "name": "CTA",
    "settings": [
        {
            "type": "image_picker",
            "id": "section_bg_img",
            "label": "Section background image"
        },
        {
            "type": "color",
            "id": "section_bgcolor",
            "label": "Section background color",
            "default": "#ed2c41"
        },
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Join us today. Are you ready for a game changer?"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "Join now"
        },
        {
            "type": "textarea",
            "id": "btn_link",
            "label": "Button link",
            "default": "https://www.arnuld.net"
        }
    ],
    "presets": [
      {
        "name": "CTA",
        "category": "CTA"
      }
    ]
}
{% endschema %}