<h1 class="text-5xl font-extrabold">{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext }}</p>

{% schema %}
{
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Error 404",
            "label": "404 Heading"
        },
        {
            "type": "text",
            "id": "subtext",
            "default": "Unfortunately, the page you were searching cannot be found",
            "label": "404 Subtext"
        }
    ]
}
{% endschema %}