<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext }}</p>

{% style %}
    [id^="shopify-section-template--"],
    [id*="shopify-section-template--"] {
        height: calc(100vh - 60px);
    }
{% endstyle %}

{% schema %}
{
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Page not found",
            "label": "404 Heading"
        },
        {
            "type": "text",
            "id": "subtext",
            "default": "404",
            "label": "404 Subtext"
        }
    ]
}
{% endschema %}