<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext | t }}</p>

{% schema %}
{
    "name": "Template 404",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Page not found",
            "label": "404 Heading"
        },
        {
            "type": "text",
            "id": "subtext",
            "default": "404",
            "label": "404 Subtext"
        }
    ]
}
{% endschema %}