<footer class="site-footer">
    <div class="container">
        <p class="site-footer__copy">© All 2019 All rights reserved. <a href="#">Design by Layerdrops</a></p>
        <!-- /.site-footer__copy -->
        <div class="site-footer__social">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook-f"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
        </div><!-- /.site-footer__social -->
    </div><!-- /.container -->
</footer><!-- /.site-footer -->

</div><!-- /.page-wrapper -->
<div class="search-popup">
<div class="search-popup__overlay custom-cursor__overlay">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
</div><!-- /.search-popup__overlay -->
<div class="search-popup__inner">
    <form action="#" class="search-popup__form">
        <input type="text" name="search" placeholder="Type here to Search....">
        <button type="submit"><i class="creatic-search"></i></button>
    </form>
</div><!-- /.search-popup__inner -->
</div><!-- /.search-popup -->

<div class="side-menu__block">
<div class="side-menu__block-overlay custom-cursor__overlay">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
</div><!-- /.side-menu__block-overlay -->
<div class="side-menu__block-inner ">
    <a href="index.html"><img src="images/logo-dark.png" width="196" alt="Awesome Image" /></a>
    <div class="side-menu__block-about">
        <h3 class="side-menu__block__title">About Us</h3><!-- /.side-menu__block__title -->
        <p class="side-menu__block-about__text">We must explain to you how all seds this mistakens idea off
            denouncing pleasures and praising pain was born and I will give you a completed accounts off the
            system
            and </p><!-- /.side-menu__block-about__text -->
        <a href="#" class="thm-btn side-menu__block-about__btn">Get Consulation</a>
    </div><!-- /.side-menu__block-about -->
    <hr class="side-menu__block-line" />
    <div class="side-menu__block-contact">
        <h3 class="side-menu__block__title">Contact Us</h3><!-- /.side-menu__block__title -->
        <ul class="side-menu__block-contact__list">
            <li class="side-menu__block-contact__list-item">
                <i class="fa fa-map-marker"></i>
                Rock St 12, Newyork City, USA
            </li><!-- /.side-menu__block-contact__list-item -->
            <li class="side-menu__block-contact__list-item">
                <i class="fa fa-phone"></i>
                (000) 111-222-4444
            </li><!-- /.side-menu__block-contact__list-item -->
            <li class="side-menu__block-contact__list-item">
                <i class="fa fa-envelope"></i>
                creatic@gmail.com
            </li><!-- /.side-menu__block-contact__list-item -->
            <li class="side-menu__block-contact__list-item">
                <i class="fa fa-clock-o"></i>
                Week Days: 09.00 to 18.00 Sunday: Closed
            </li><!-- /.side-menu__block-contact__list-item -->
        </ul><!-- /.side-menu__block-contact__list -->
    </div><!-- /.side-menu__block-contact -->
    <p class="side-menu__block__text site-footer__copy-text"><a href="#">creatic</a> <i
            class="fa fa-copyright"></i>
        2019 All Right Reserved</p>
</div><!-- /.side-menu__block-inner -->
</div><!-- /.side-menu__block -->

<div class="portfolio-popup">
<div class="portfolio-popup__overlay custom-cursor__overlay">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
</div><!-- /.search-popup__overlay -->
<div class="portfolio-popup__inner">
    <div class="container">
        <div class="portfolio-popup__image">
            <img src="images/portfolio-d-1-1.jpg" alt="">
        </div><!-- /.portfolio-popup__image -->
        <div class="portfolio-popup__bottom">
            <div class="row">
                <div class="col-lg-8 d-flex">
                    <div class="portfolio-popup__content my-auto">
                        <h2 class="portfolio-popup__title blog-details__title"><a href="#">Mokeh nehyt new
                                desktop
                                free mockup </a></h2>
                        <!-- /.portfolio-popup__title -->
                        <div class="blog-one__meta">
                            <a href="#" class="blog-one__meta-link"><i class="fa fa-user"></i>By admin</a>
                            <!-- /.blog-one__meta-link -->
                            <a href="#" class="blog-one__meta-link"><i class="fa fa-comments"></i>2 Comments</a>
                            <!-- /.blog-one__meta-link -->
                            <a href="#" class="blog-one__meta-link"><i class="fa fa-clock-o"></i>March 5th,
                                2018</a>
                            <!-- /.blog-one__meta-link -->
                        </div><!-- /.blog-one__meta -->
                    </div><!-- /.portfolio-popup__content -->
                </div><!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="portfolio__popup-btn">
                        <a href="#" class="thm-btn">View Website</a>
                    </div><!-- /.portfolio__popup-btn -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.portfolio-popup__bottom -->
    </div><!-- /.container -->
</div><!-- /.portfolio-popup__inner -->
</div><!-- /.portfolio-popup -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/progressbar.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/typed.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/theme.js"></script>
</body>

</html>