<footer class="site-footer">
    <div class="container">
        <p class="site-footer__copy">{{ section.settings.copyright }}</a></p>
        <!-- /.site-footer__copy -->
        <div class="site-footer__social">
            {% for block in section.blocks %}
                <a href="{{ block.settings.social_link }}"><i class="{{ block.settings.fa_class }}"></i></a>
            {% endfor %}
        </div><!-- /.site-footer__social -->
    </div><!-- /.container -->
</footer><!-- /.site-footer -->

{% style %}
    @media only screen and (max-width: 375px) {
        .site-footer__copy > a {
            display: block;
        }

        .site-footer__social a {
            width: 40px;
            height: 40px;
        }
    }

    @media only screen and (min-width: 640px) {
        .site-footer__copy > a {
            display: flex;
        }

        .site-footer__social a {
            width: 100%;
            height: auto;
        }
    }
{% endstyle %}

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "textarea",
            "id": "copyright",
            "label": "Copyright",
            "default": "© 2022 All rights reserved."
        }
    ],
    "max_blocks": 8,
    "blocks": [
        {
            "type": "social",
            "name": "Social Account",
            "settings": [
                {
                    "type": "text",
                    "id": "fa_class",
                    "label": "Fontawesome social media icon class"
                },
                {
                    "type": "text",
                    "id": "social_link",
                    "label": "Your social media URL"
                }
            ]
        }
    ]
}
{% endschema %}