<section class="funfact-one">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-8">
                <div class="funfact-one__content">
                    <div class="block-title text-left">
                        <h2 class="block-title__title">We Work Hard: We Don’t <br>
                            Waste Time</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">There are many variations of passages of Lorem Ipsum
                            available, but
                            the majority is have suffered alteration in some form, by injected humour, or
                            randomised
                            words which don't look even slightly believable. If you are going to use a lorem
                            passage of
                            Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                            middle of
                            text.</p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="funfact-one__wrap">
                        <div class="funfact-one__single text-center">
                            <div class="funfact-one__single-inner">
                                <h2 class="funfact-one__number counter">875</h2><!-- /.funfact-one__number -->
                                <p class="funfact-one__text">Projects Completed</p><!-- /.funfact-one__text -->
                            </div><!-- /.funfact-one__single-inner -->
                        </div><!-- /.funfact-one__single -->
                        <div class="funfact-one__single text-center">
                            <div class="funfact-one__single-inner">
                                <h2 class="funfact-one__number counter">303
                                </h2><!-- /.funfact-one__number -->
                                <p class="funfact-one__text">Active Clients</p><!-- /.funfact-one__text -->
                            </div><!-- /.funfact-one__single-inner -->
                        </div><!-- /.funfact-one__single -->
                        <div class="funfact-one__single text-center">
                            <div class="funfact-one__single-inner">
                                <h2 class="funfact-one__number counter">75
                                </h2><!-- /.funfact-one__number -->
                                <p class="funfact-one__text">Cups of Coffee</p><!-- /.funfact-one__text -->
                            </div><!-- /.funfact-one__single-inner -->
                        </div><!-- /.funfact-one__single -->
                    </div><!-- /.funfact-one__wrap -->
                </div><!-- /.funfact-one__content -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.funfact-one -->