<header class="site-header site-header__header-one ">
    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo-box clearfix">
                <a class="navbar-brand" href="index.html">
                    <img src="{{ 'logo-light.png' | asset_img_url }}" class="main-logo" width="164" alt="Awesome Image" />
                </a>
                <button class="menu-toggler" data-target=".main-navigation">
                    <span class="creatic-menu"></span>
                </button>
            </div><!-- /.logo-box -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="main-navigation">
                <ul class=" navigation-box one-page-scroll-menu ">
                    <li class="current scrollToLink">
                        <a href="#home">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home 01</a></li>
                            <li><a href="index-2.html">Home 02</a></li>
                            <li><a href="index-3.html">Home 03</a></li>
                            <li><a href="index-4.html">Home 04</a></li>
                            <li><a href="index-5.html">Home 05</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li class="scrollToLink">
                        <a href="#about">About</a>
                    </li>
                    <li class="scrollToLink">
                        <a href="#portfolio">Work</a>
                    </li>
                    <li class="scrollToLink">
                        <a href="#team">Team</a>
                    </li>
                    <li class="scrollToLink">
                        <a href="#pricing">Pricing</a>
                    </li>
                    <li class="scrollToLink">
                        <a href="#blog">News</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">News Style 01</a></li>
                            <li><a href="blog-2.html">News Style 02</a></li>
                            <li><a href="blog-details.html">News Details</a></li>
                        </ul><!-- /.sub-menu -->
                    </li>
                    <li class="scrollToLink">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="right-side-box">
                <a href="#" class="search-popup__toggler"><i class="creatic-search"></i>
                    <!-- /.creatic-search --></a>
                <a href="#" class="sidemenu__toggler side-menu__toggler"><i class="creatic-menu"></i>
                    <!-- /.creatic-menu --></a>
            </div><!-- /.right-side-box -->
        </div>
        <!-- /.container -->
    </nav>
</header><!-- /.site-header -->

{% schema %}
{
    "name": "Header Home",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Upload your logo"
        }
    ]
}
{% endschema %}