<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <p>404.subtext</p>
  <h1 class="title">title</h1>
  <a href="#url" class="button">
    general_continue_shopping
  </a>
</div>
