<section class="section-blogs">
    <div class="container">
        <div class="row">
            This section can be edited from Sections > page-sections-blogs.liquid
        </div>
    </div>
</section>

{% stylesheet %}
    .section-blogs {
        padding-top: 66px;
    }
{% endstylesheet %}

{% schema %}
{
    "name": "Blogs",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Blogs",
            "category": "Blogs"
        }
    ]
}
{% endschema %}