<section class="section-blogs">
    <div class="container">
        <div class="row">
            
            {% assign allBlogs = 'news,projects' | split: ',' %}
            {% for featBlog in allBlogs %}
                {% if blogs[blog].articles %}
                    {% assign featArticles = featArticles | concat: blogs[featBlog].articles %}
                {% else %}
                    {% assign featArticles = blogs[featBlog].articles %}
                {% endif %}
            {% endfor %}

        </div>
    </div>
</section>

{% stylesheet %}
    .section-blogs {
        padding-top: 66px;
    }
{% endstylesheet %}

{% schema %}
{
    "name": "Blogs",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Blogs",
            "category": "Blogs"
        }
    ]
}
{% endschema %}