<section class="section-blogs">
    <div class="container">
        <div class="row">
            This section can be edited from Sections > page-sections-blogs.liquid

            {% for link in linklists.blogs.links %}
                {% assign blog = link.object %}
                {% for article in blog.articles %}
                  <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                {% endfor %} 
            {% endfor %}
        </div>
    </div>
</section>

{% stylesheet %}
    .section-blogs {
        padding-top: 66px;
    }
{% endstylesheet %}

{% schema %}
{
    "name": "Blogs",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Blogs",
            "category": "Blogs"
        }
    ]
}
{% endschema %}