{%- style -%}
{%- endstyle -%}

<div class="color-section.settings.color_scheme gradient">
  <div class="page-width page-width--narrow section-section.id-padding">
    <h2 class="page-title section.settings.heading_size">
      sections.page.title
    </h2>
    <div class="rte">
      section.settings.page.content
    </div>
  </div>
</div>

{% schema %}
{% endschema %}
