<section class="section-blogs">
    <div class="container">
        <div class="row">
            
            {% assign featuredBlogs = 'projects,news' | split:',' %}
            {% assign featuredArticles = false %}

            {% for featuredBlog in featuredBlogs %}
                {% if blogs[featuredBlog].articles %}
                    {% if featuredArticles %}
                        {% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
                    {% else %}
                        {% assign featuredArticles = blogs[featuredBlog].articles %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if featuredArticles %}
                {% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}            
                {% for article in featuredArticles limit:10 %}
                    <p><b>{{ article.title }}: </b><br>{{ article.published_at }}</p>
                {% endfor %}
            
            {% endif %}

        </div>
    </div>
</section>

{% stylesheet %}
    .section-blogs {
        padding-top: 66px;
    }
{% endstylesheet %}

{% schema %}
{
    "name": "Blogs",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Blogs",
            "category": "Blogs"
        }
    ]
}
{% endschema %}