<section class="blog-one">
    <div class="container">
        <div class="row">
            {% for link in linklists.blogs.links %}
                {% assign blog = link.object %}
                {% for article in blog.articles %}
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                {% endfor %} 
            {% endfor %}
        </div>
    </div>
</section>