<div class="portfolio-popup">
    <div class="portfolio-popup__overlay custom-cursor__overlay">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div><!-- /.search-popup__overlay -->
    <div class="portfolio-popup__inner">
        <div class="container">
            <div class="portfolio-popup__image">
                <img src="{{ 'portfolio-d-1-1.jpg' | asset_img_url }}" alt="">
            </div><!-- /.portfolio-popup__image -->
            <div class="portfolio-popup__bottom">
                <div class="row">
                    <div class="col-lg-8 d-flex">
                        <div class="portfolio-popup__content my-auto">
                            <h2 class="portfolio-popup__title blog-details__title"><a href="#">Mokeh nehyt new
                                    desktop
                                    free mockup </a></h2>
                            <!-- /.portfolio-popup__title -->
                            <div class="blog-one__meta">
                                <a href="#" class="blog-one__meta-link"><i class="fa fa-user"></i>By admin</a>
                                <!-- /.blog-one__meta-link -->
                                <a href="#" class="blog-one__meta-link"><i class="fa fa-comments"></i>2 Comments</a>
                                <!-- /.blog-one__meta-link -->
                                <a href="#" class="blog-one__meta-link"><i class="fa fa-clock-o"></i>March 5th,
                                    2018</a>
                                <!-- /.blog-one__meta-link -->
                            </div><!-- /.blog-one__meta -->
                        </div><!-- /.portfolio-popup__content -->
                    </div><!-- /.col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="portfolio__popup-btn">
                            <a href="#" class="thm-btn">View Website</a>
                        </div><!-- /.portfolio__popup-btn -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.portfolio-popup__bottom -->
        </div><!-- /.container -->
    </div><!-- /.portfolio-popup__inner -->
</div><!-- /.portfolio-popup -->  