<div class="search-popup">
    <div class="search-popup__overlay custom-cursor__overlay">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div><!-- /.search-popup__overlay -->
    <div class="search-popup__inner">
        <form action="{{ routes.search_url }}" class="search-popup__form">
            <input type="text" placeholder="Looking for something? Type it here..." name="q" value="{{ search.terms | escape }}">
            <button type="submit">
                <i class="creatic-search"></i><!-- /.fa fa-search -->
            </button>
        </form>
    </div><!-- /.search-popup__inner -->
</div><!-- /.search-popup -->