<section class="progress-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="progress-one__content">
                    <div class="block-title text-left">
                        <h2 class="block-title__title">We are the stand out <br>
                            experts in business</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">We believe that success is achieved through a highly
                            collaborative
                            interaction, so that we can work together to identify and evaluate opportunities
                            beyond your
                            current operations. </p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                </div><!-- /.progress-one__content -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-one__single">
                            <div class="progress-one__top">
                                <div class="circular-progress" data-color="#ed2c41" id="progress-1"
                                    data-progress-count=".90">
                                    <div class="other-ball" id="progress-1-other-ball"></div>
                                    <!-- /.other-ball -->
                                </div><!-- /.circular-progress -->
                                <div class="progress-one__text-box">90%</div><!-- /.progress-one__text-box -->
                            </div><!-- /.progress-one__top -->
                            <h3 class="progress-one__title">Quality <br>
                                Services</h3>
                        </div><!-- /.progress-one__single -->
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                        <div class="progress-one__single">
                            <div class="progress-one__top">
                                <div class="circular-progress" data-color="#ed2c41" id="progress-2"
                                    data-progress-count=".50">
                                    <div class="other-ball" id="progress-2-other-ball"></div>
                                    <!-- /.other-ball -->
                                </div><!-- /.circular-progress -->
                                <div class="progress-one__text-box">50%</div><!-- /.progress-one__text-box -->
                            </div><!-- /.progress-one__top -->
                            <h3 class="progress-one__title">Skilled <br>
                                Employee</h3>
                        </div><!-- /.progress-one__single -->
                    </div><!-- /.col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.col-lg-6 -->
            <div class="col-xl-6 col-lg-12 d-flex justify-content-xl-end">
                <div class="video-one wow fadeInRight" data-wow-duration="1500ms">
                    <img src="{{ 'video-1-1.jpg' | asset_url }}" alt="">
                    <a href="#" class="video-one__play"><i class="fa fa-play"></i><!-- /.fa fa-play --></a>
                    <!-- /.video-one__play -->
                </div><!-- /.video-one -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.progress-one -->

{% schema %}
{
    "type": "progress",
    "name": "Progress Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "section_image",
            "label": "Upload an image"
        },
        {
            "type": "text",
            "id": "section_heading",
            "label": "Heading",
            "default": "Replace this text from inside the Customizer > Progress"
        },
        {
            "type": "textarea",
            "id": "section_description",
            "label": "Description",
            "default": "We believe that success is achieved through a highly collaborative interaction, so that we can work together to identify and evaluate opportunities beyond your current operations."
        }
    ],
    "blocks": [
        {
            "type": "image_picker",
            "id": "block_image",
            "label": "Upload an image"
        },
        {
            "type": "text",
            "id": "block_text",
            "label": "Image description"
        }
    ]
}
{% endschema %}