<p>This is the template-home.liquid inside Sections</p>

{% schema %}
{
    "name": "Template Home",
    "settings": [
        {
            "type": "text",
            "id": "show_paragraph",
            "label": "Show paragraph",
            "default": true
        }
    ]
}
{% endschema %}