{% if cart.item_count > 0 %}
{% else %}
<section class="cart">
    <div class="max-w-6xl h-60 my-4 flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-3xl my-4">Your cart</h1>
            <div class="my-4 py-4"><a href="{{ routes }}" class="border border-gray-600 text-white bg-gray-600 px-8 py-3"></a></div>
        </div>
    </div>
</section>
{% endif %}