<section class="testimonials-one">
    <div class="container">
        <div class="testimonials-one__carousel owl-carousel owl-theme">
            <div class="item">
                <div class="testimonials-one__single">
                    <img src="{{ 'testi-qoute-1-1.png' | asset_url }}" alt="">
                    <p class="testimonials-one__text">This is due to their excellent service, competitive
                        pricing and
                        customer support. It’s throughly refresing to get such a personal touch.
                    </p><!-- /.testimonials-one__text -->
                    <h3 class="testimonials-one__name">Jacob Holmes</h3><!-- /.testimonials-one__name -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
                <div class="testimonials-one__single">
                    <img src="{{ 'testi-qoute-1-1.png' | asset_url }}" alt="">
                    <p class="testimonials-one__text">This is due to their excellent service, competitive
                        pricing and
                        customer support. It’s throughly refresing to get such a personal touch.
                    </p><!-- /.testimonials-one__text -->
                    <h3 class="testimonials-one__name">Alberta Chambers</h3><!-- /.testimonials-one__name -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
                <div class="testimonials-one__single">
                    <img src="{{ 'testi-qoute-1-1.png' | asset_url }}" alt="">
                    <p class="testimonials-one__text">This is due to their excellent service, competitive
                        pricing and
                        customer support. It’s throughly refresing to get such a personal touch.
                    </p><!-- /.testimonials-one__text -->
                    <h3 class="testimonials-one__name">Wayne Robinson</h3><!-- /.testimonials-one__name -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
            <div class="item">
                <div class="testimonials-one__single">
                    <img src="{{ 'testi-qoute-1-1.png' | asset_url }}" alt="">
                    <p class="testimonials-one__text">This is due to their excellent service, competitive
                        pricing and
                        customer support. It’s throughly refresing to get such a personal touch.
                    </p><!-- /.testimonials-one__text -->
                    <h3 class="testimonials-one__name">Nora Keller</h3><!-- /.testimonials-one__name -->
                </div><!-- /.testimonials-one__single -->
            </div><!-- /.item -->
        </div><!-- /.testimonials-one__carousel -->
    </div><!-- /.container -->
</section><!-- /.testimonials-one -->