@font-face {
  font-family: "Rage Italic";
  src: url("RAGE.eot");
  src: url("RAGE.eot?#iefix") format("embedded-opentype"),
    url(" RAGE.woff2") format("woff2"), url("RAGE.woff") format("woff"),
    url("RAGE.ttf") format("truetype"),
    url("RAGE.svg#Rage Italic") format("svg");
}
